 #counter {
    font-size: 24px;
    margin-bottom: 20px;
        }
body {
	background-color: #b3e0f5; /* Jasny niebieski kolor tła */
	font-family: Arial, sans-serif;
		}
.snowflake {
    position: absolute;
    top: 0;
    color: white;
    font-size: 24px;
    user-select: none;
    pointer-events: none;
    animation: fall linear infinite;
        }
@keyframes fall {
    to {
    transform: translateY(100vh);
    }
        }